In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv(r'C:\Users\RAHUL\Documents\OnePython\015. JAN_DS_24\gapminder_full.csv')

In [3]:
type(pd.read_csv('gapminder_full.csv'))

pandas.core.frame.DataFrame

In [5]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

# escape seq

In [8]:


print("Hello World")

Hello World

In [9]:
print("This is path of my file")

This is path of my file

In [10]:
print("C:\Users\RAHUL\Documents\OnePython\015. JAN_DS_24")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (4004306510.py, line 1)

In [11]:
print(r"C:\Users\RAHUL\Documents\OnePython\015. JAN_DS_24")

C:\Users\RAHUL\Documents\OnePython\015. JAN_DS_24

In [14]:
print("rohan \\tanmay")

rohan \tanmay

# data frame

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.shape

(1704, 6)

In [18]:
df.size

10224

In [19]:
df.ndim

2

In [22]:
# df[0]
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [23]:
df['year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [34]:
# Dataframe is a collection of Series
# almost all methods applicable on DF are also applicable for Series

In [24]:
type(df['year'])

pandas.core.series.Series

In [30]:
type(df['year'])

pandas.core.series.Series

In [31]:
s = df['year']
print(s.shape)

(1704,)

In [32]:
s.ndim

1

In [33]:
s.size

1704