In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('gapminder_full.csv')

In [3]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [4]:
# implicit and explicit indexing
# there is no limitation in using the index 
# duplicates are also allowed as indexing

In [18]:
ans = pd.Series([11,22,33,44],['a','b','c','d'])

In [19]:
ans

a    11
b    22
c    33
d    44
dtype: int64

In [15]:
type(ans)

pandas.core.series.Series

In [22]:
s = pd.Series(data=['a','b','c','d'])
s

0    a
1    b
2    c
3    d
dtype: object

In [23]:
s = pd.Series(['a','b','c'],[2,5,5])
s

2    a
5    b
5    c
dtype: object

In [24]:
# retrieving the data from the series
s[2]

'a'

In [25]:
s[5]

5    b
5    c
dtype: object

In [8]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [26]:
# retrieving the data from the series
v[1]

1    a
1    b
dtype: object

In [27]:
v[2]

2    c
2    d
dtype: object

In [28]:
v[5]

'i'

In [30]:
# v[6]  # we will get error for missing index

In [9]:
# Slicing
# var[start:end]

In [34]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [32]:
v[1:3]

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_24600\2398983557.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  v[1:3]

1    b
2    c
dtype: object

In [35]:
v[0:3]

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_24600\3090924103.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  v[0:3]

1    a
1    b
2    c
dtype: object

In [36]:
v[1]

1    a
1    b
dtype: object

In [37]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [ ]:
# calling a value : Explicit indexing will be used
# slicing : implicit indexing will be used

In [10]:
# loc : explicit : given by user
# iloc : implicit : default by python

In [38]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [39]:
v[1] #explicit

1    a
1    b
dtype: object

In [40]:
v[1:3] #implicit

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_24600\2398983557.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  v[1:3]

1    b
2    c
dtype: object

In [41]:
v.loc[1] #explicit indexing > given by user

1    a
1    b
dtype: object

In [42]:
v.iloc[1] #implicit indexing > by defauly by pandas

'b'

In [44]:
v.loc[4]

4    g
4    h
dtype: object

In [45]:
v.iloc[4]

'e'

In [47]:
# v.loc[-1] #explicit indexing > by user

In [48]:
v.iloc[-1] #implicit indexing > Pandas , negative indexing

'i'

In [49]:
# reversasl using neg indexing 
v.iloc[::-1]

5    i
4    h
4    g
3    f
3    e
2    d
2    c
1    b
1    a
dtype: object

In [50]:
v.loc[5]

'i'

In [51]:
v.iloc[5]

'f'

In [52]:
# slicing using loc and iloc

In [53]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [56]:
v.loc[1:2] #both start and stop values are included

1    a
1    b
2    c
2    d
dtype: object

In [57]:
v.iloc[1:2] #$default indexing

1    b
dtype: object

In [58]:
v[1:2] #default

C:\Users\RAHUL\AppData\Local\Temp\ipykernel_24600\3033593630.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  v[1:2]

1    b
dtype: object